.post-header{
    display: flex;
    padding: 15px 10px;
    border-bottom: 1px solid #ccc;
    height: 40%;
    margin: 10px;
    line-height: 24px;
}

.post-header p{
    margin-left: 10px;
    color: #888;
}
.profile-photo{
    image-rendering: optimizeQuality;
    width: 50px;
    height: 50px;
    border-radius: 50px;
}

#username{
    font-weight: bold;
    font-size: 15px;;
}

#time-ago{
    font-size: 13px;
}

