.post{
    background-color: #FFFFFF;
    border: 1px solid #BBBBBB;
    width: 400px;
    height: 200px;
    display: flex;
    margin: 40px auto;
    box-shadow: 2px 2px 8px #aaa;
    background-color: blue;
}

.post p{
    color: #555;
    background-color: red;
    clear: both;
}